<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.momento.login.mapper.LoginMapper">	<!-- xml파일을 사용할 mapper가 있는 경로 -->
<!-- Heidisql연결후 입력 저장-->
	<!-- 아이디 중복 -->
	<!-- 로그인 데이터 -->                    <!-- 정보 받아오기 -->                               <!-- 정보 내려주기 -->
	<select id="checkLogin" parameterType="project.momento.login.dto.LoginDto" resultType="project.momento.login.dto.LoginDto">
		<![CDATA[
			SELECT
				id AS id,
				pwd AS pwd,
				user_name AS userName,
				user_birthday AS userBirthday,
				user_address AS userAddress,
				user_addressmain AS userAddressmain
			FROM user
			WHERE id = #{id} AND pwd = #{pwd}
		]]>
	</select>
<!--	<select id="getName" parameterType="String" resultType="String">
		select name frim bootmember where id=#{id}
	</select>
	<select id="getIdPassCheck" parameterType="Hashmap" resultType="int">
		select count(*) from bootmember where id=#{id} and pass=#{pass}
	</select> -->
	
</mapper>