<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.momento.sign.mapper.SignMapper">	<!-- xml파일을 사용할 mapper가 있는 경로 -->
<!-- Heidisql연결후 입력 저장-->
	<!-- INSERT문 -->
	<insert id="insertUser" parameterType="project.momento.sign.dto.SignDto">
		<![CDATA[
			INSERT INTO user
			(	
				PK_USER_SEQ
				USER_ID,
				USER_PASSWORD,
				USER_NM,
				USER_BIRTH,
				USER_SEX,
				USER_ADDR,
				USER_ADDR_DETAIL
			)
			VALUES
			(	
				#{PK_USER_SEQ},
				#{USER_ID},
				#{USER_PASSWORD},
				#{USER_NM},
				#{USER_BIRTH},
				#{USER_SEX},
				#{USER_ADDR},
				#{USER_ADDR_DETAIL}
			)
		]]>
	</insert>
	
	<!-- UPDATE문 -->
	
	<!-- 아이디 중복 체크      parameterType: 중복된 id가 있는지 보내는 ,  resultType: 중복된 id가 있거나 없다는 걸 알려주는  -->
 	<select id="checkButton" parameterType="project.momento.sign.dto.SignDto" resultType="int" >
		SELECT COUNT(ID) AS cnt  FROM user WHERE ID=#{id}<!-- FROM뒤에는 사용하는 table이름 -->
	</select>
	
	
	<!-- DELETE문 -->
	
</mapper>