/*검색 창 */

.search-box {
	height: 30px;
	width: 220px;
	background: white;
	border-radius: 30px;
	padding-right: 30px;
	border: 1px solid rgb(0, 0, 0);
	float: right;

}

.search-txt {
	border: none;
	background: none;
	outline: none;
	float: right;
	padding: 10px;
	color: rgb(0, 0, 0);
	font-size: 16px;
	line-height: 30px;
	width: 120px;
	height: 30px;

}

.search-btn {
	color: rgb(0, 64, 128);
	float: right;
	width: 50px;
	height: 100%;
	border-radius: 50%;
	background: rgb(255, 255, 255);
	border: none;
	font-size: 16px;
	display: flex;
	justify-content: left;
	align-items: center;
}




/*별점 */
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.rate {
	display: inline-block;
	border: 0;
	margin-right: 15px;
}

.rate>input {
	display: none;
}

.rate>label {
	float: right;
	color: #ddd
}

.rate>label:before {
	display: inline-block;
	font-size: 1rem;
	padding: .3rem .2rem;
	margin: 0;
	cursor: pointer;
	font-family: FontAwesome;
	content: "\f005 ";
}

.rate .half:before {
	content: "\f089 ";
	position: absolute;
	padding-right: 0;
}

.rate input:checked~label,
.rate label:hover,
.rate label:hover~label {
	color: rgb(255, 255, 0) !important;
}

.rate input:checked+.rate label:hover,
.rate input input:checked~label:hover,
.rate input:checked~.rate label:hover~label,
.rate label:hover~input:checked~label {
	color: rgb(255, 255, 0) !important;
}




/*샴푸 린스 에센스 호버 */
.btn1 {
	border-radius: 60px;
	border: none;
	background-color: rgb(192, 192, 192);
	transition: background-color .5s;
	margin-left: 20px;
	width: 8%;
	height: 35px
}

.btn1:hover {
	background-color: rgb(254, 137, 50);
	color: white;
}





/*별점 위 탈모,건성 */
.card-text {
	width: 70px;
	background-color: chartreuse;
	border-radius: 8px;
	text-align: center;
	float: left;
	border-radius: 8px;
	margin-left: 10px;
}