<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:fragment="ConfigFragment">
<head>
	<!-- Common Head -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Amall</title>

	<!-- Common CSS -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
	<link th:inline="css" th:href="@{/css/cssCommon.css}" rel="stylesheet"/>
	
	<!-- Common JS -->
    <script th:inline="javascript" type="text/javascript" th:src="@{/js/scriptCommon.js}"></script>
</head>
</html>