<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

<!-- Head -->
<th:block th:fragment="headFragment">

	<div class="d-flex justify-content-center">
		<div class="spinner-border" role="status">
			<span class="sr-only">Loading...</span>
		</div>
	</div>

	<nav class="navbar navbar-expand-sm navbar-light bg-light">
		<a class="navbar-brand" href="#">Mo:mento</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03"
			aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExample03">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link"  href="imgup.com">두피검사</a>
				</li>
				<li class="nav-item">
					<a class="nav-link"  href="chart.com">두피결과</a>
				</li>
			</ul>
		</div>
	</nav>
	<!-- /.navbar -->
</th:block>

</html>